@model proyecto_iic2113.Models.Talk

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Talk</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conference.Name)
        </dd>
    </dl>
</div>


<h3 class="text-muted">Lecturers</h3>
<ul class="list-group">
    @foreach (var talkLecturer in Model.TalkLecturers)
    {
        <li class="list-group-item">
            @talkLecturer.Lecturer.Email
        </li>
    }
</ul>

<a asp-controller="TalkLecturer" asp-action="Create" asp-route-id="@Model.Id"> add lecturer</a>

<div>
    @if (User.Identity.IsAuthenticated && ViewBag.UserId == Model.Conference.Organizer.Id)
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    else
    {
        <div><a asp-action="Index">Back to List</a></div>
    }
</div>
