@model proyecto_iic2113.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue.Name)
        </dd>
    </dl>
</div>

<b>Equipments:</b>
@foreach (var equipment in Model.Equipments) {
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-action="Details" asp-controller="Equipment" asp-route-id= "@equipment.Id">@equipment.Name</a>
        </li>
    </ul>
}

<div>
    @if (User.Identity.IsAuthenticated && ViewBag.UserId == Model.Venue.Owner.Id)
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        </div>
    }
    <a asp-action="Index">Back to List</a>
</div>
