@{
    ViewData["Title"] = "Index";
}

@{ 
    var date_format = "dd/MM/yyyy";
}

    <div class="container">

        <h1 class="display-4">Events</h1>

        <h3 class="text-center text-muted">Recent Parties</h3>

        <div class="card-deck">

            @foreach (var item in ViewBag.parties)
            {

                <div class="card">
                    <div class="card-body">
                        <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                        <h5 class="card-title">@item.Name</h5>
                        <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
                    </div>
                </div>
            }

        </div>

        <br>

        <a asp-controller="Party" asp-action="Index" class="btn btn-outline-secondary">See more</a>

        <h3 class="text-center text-muted">Recent Workshops</h3>

        <div class="card-deck">

            @foreach (var item in ViewBag.workshops)
            {

                <div class="card">
                    <div class="card-body">
                        <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                        <h5 class="card-title">@item.Name</h5>
                        <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
                    </div>
                </div>
            }

        </div>

        <br />

        <a asp-controller="Workshop" asp-action="Index" class="btn btn-outline-secondary">See more</a>

        <h3 class="text-center text-muted">Recent Lunches</h3>

        <div class="card-deck">

            @foreach (var item in ViewBag.launches)
            {

                <div class="card">
                    <div class="card-body">
                        <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                        <h5 class="card-title">@item.Name</h5>
                        <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
                    </div>
                </div>
            }

        </div>

        <br />

        <a asp-controller="Launch" asp-action="Index" class="btn btn-outline-secondary">See more</a>

        <h3 class="text-center text-muted">Recent Chats</h3>

        <div class="card-deck">

            @foreach (var item in ViewBag.chats)
            {

                <div class="card">
                    <div class="card-body">
                        <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                        <h5 class="card-title">@item.Name</h5>
                        <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
                    </div>
                </div>
            }

        </div>

        <br />

        <a asp-controller="Chat" asp-action="Index" class="btn btn-outline-secondary">See more</a>

        <h3 class="text-center text-muted">Recent Talks</h3>

        <div class="card-deck">

            @foreach (var item in ViewBag.talks)
            {

                <div class="card">
                    <div class="card-body">
                        <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                        <h5 class="card-title">@item.Name</h5>
                        <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
                    </div>
                </div>
            }

        </div>

        <br />

        <a asp-controller="Talk" asp-action="Index" class="btn btn-outline-secondary">See more</a>


    </div>

