@model IEnumerable<proyecto_iic2113.Models.Review>

@{
    ViewData["Title"] = "Reviews for Event";
}

<h1 class="display-4">Reviews for Event</h1>

@foreach (var item in Model) 
{
    <div class="card">
        <div class="card-header">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col">
                        Rating: @Html.DisplayFor(modelItem => item.Rating)
                    </div>
                    @if (User.Identity.IsAuthenticated && ViewBag.UserId == item.ApplicationUserId)
                    {
                        <div class="col-end">
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>@Html.DisplayFor(modelItem => item.Body)</p>
                <footer class="blockquote-footer">Review by <cite title="Source Title">@Html.DisplayFor(modelItem => item.ApplicationUser.Email)</cite></footer>
            </blockquote>
        </div>
    </div>
}
