@{
    var date_format = "dd/MM/yyyy";
}

<div class="card-columns">

    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                <h5 class="card-title">@item.Name</h5>
                <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
            </div>
            <div class="container">
                <div class="row justify-content-around">

                    <div>
                        <a asp-action="Details" asp-route-id="@item.Id" class="text-info"><i class="fas fa-info fa-lg"></i></a>
                    </div>
                    @if (User.Identity.IsAuthenticated && ViewBag.UserId == item.Conference.Organizer.Id)
                    {
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="text-info"><i class="fas fa-edit fa-lg"></i></a>
                        </div>
                        <div>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-info"><i class="fas fa-trash fa-lg"></i></a>
                        </div>
                    }
                </div>
            </div>
            <br />
        </div>
    }
</div>
