@model proyecto_iic2113.Models.Conference

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conference</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue.Name)
        </dd>
    </dl>
</div>

<div>
    <h2>
        @Html.DisplayFor(model => model.Name)
        Sponsors
    </h2>

    <ul>
        @foreach (var sponsor in Model.Sponsors) {
            <li>
                @sponsor.Name
            </li>
        }
    </ul>

    <div>
        <a asp-action="Create" asp-controller="Sponsor" asp-route-id=@Model.Id class="btn btn-outline-secondary">Add Sponsor</a>
    </div>
</div>



<div>
    <h2>
        @Html.DisplayFor(model => model.Name)
        Attendees
    </h2>
    <ul>
        @foreach (var conferenceUserAttendee in Model.ConferenceUserAttendees)
        {
            <li>
                @conferenceUserAttendee.UserAttendee.Email
            </li>
        }
    </ul>
    
    <form asp-action="AttendConference">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Attend Conference" class="btn btn-outline-secondary" />
    </form>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}