@model proyecto_iic2113.Models.Conference

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>

    <div class="container">
        <hr>
        <div class="row justify-content-end">
            <form asp-action="AttendConference">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Attend Conference" class="btn btn-outline-success" />
            </form>
        </div>

        <div class="row justify-content-end my-3">
            <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-pencil-alt"></i></a>
        </div>

        <h3 class="text-muted">Description</h3>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>

        <h3 class="text-muted">Organizer</h3>
        <p>
            @Html.DisplayFor(model => model.Organizer.Email)
        </p>

        <h3 class="text-muted">Sponsors</h3>
        <ul class="list-group">
            @foreach (var sponsor in Model.Sponsors) {
                <li class="list-group-item">
                    <a asp-action="Details" asp-controller="Sponsor" asp-route-id= "@sponsor.Id">@sponsor.Name</a>
                </li>
            }
        </ul>
        <div>
            <a asp-action="Create" asp-controller="Sponsor" asp-route-id=@Model.Id class="btn btn-outline-secondary">Add Sponsor</a>
        </div>

        <h3 class="text-muted">Date</h3>
        <p>
            @Html.DisplayFor(model => model.DateTime)
        </p>

        <h3 class="text-muted">Location</h3>


        <p>
            <!-- Se caera si el modelo no tiene definida estas variables! Importante usar una seed correcta -->
            <a  asp-action="Details" asp-controller="Venue" asp-route-id= "@Model.Venue.Id"> @Html.DisplayFor(model => model.Venue.Name): @Html.DisplayFor(model => model.Venue.Adress)</a>
        </p>


        <h3 class="text-muted">Attendees</h3>
        <ul class="list-group">
            @foreach (var conferenceUserAttendee in Model.ConferenceUserAttendees)
            {
                <li class="list-group-item">
                    @conferenceUserAttendee.UserAttendee.Email
                </li>
            }
        </ul>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}