@model proyecto_iic2113.Models.Conference

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conference</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue.Name)
        </dd>
    </dl>
</div>

<div>
    <h2>
        @Html.DisplayFor(model => model.Name)
        Sponsors
    </h2>

    <ul>
        @foreach (var sponsor in Model.Sponsors) {
            <li>
                @sponsor.Name
            </li>
        }
    </ul>
    
</div>

<div>
    <a asp-action="Create" asp-controller="Sponsor" asp-route-id=@Model.Id>Add Sponsor</a>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
