@model proyecto_iic2113.Models.Conference

@{
    ViewData["Title"] = "Details";
}

@{
    var date_format = "dd/MM/yyyy";
}

<div class="container">
    <div class="row">

        <div class="col">
            <h1 class="display-4">@Html.DisplayFor(model => model.Name)</h1>
        </div>
        <div class="col-end">
            <form asp-action="AttendConference">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Attend Conference" class="btn btn-outline-success" />
            </form>
        </div>
    </div>

    <div class="container">
        <hr>

        <div class="row">
            <div class="col">
                <i class="fas fa-user-edit fa-lg"></i> @Html.DisplayFor(model => model.Organizer.Email)
            </div>
            <div class="col">
                <i class="far fa-calendar-alt fa-lg"></i> From @Html.DisplayFor(model => model.DateTime) to @Html.DisplayFor(model => model.EndDate)
            </div>
            <div class="col">
                <i3 class="fas fa-map-marker-alt fa-lg"></i3><a asp-action="Details" asp-controller="Venue" asp-route-id="@Model.Venue.Id"> @Html.DisplayFor(model => model.Venue.Name): @Html.DisplayFor(model => model.Venue.Adress)</a>
            </div>
            @if (User.Identity.IsAuthenticated && ViewBag.UserId == Model.Organizer.Id)
            {
                <div class="col-end">
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-pencil-alt"></i></a>
                    <a asp-action="Dashboard" asp-route-id="@Model.Id" class="btn btn-ouline-secondary">Dashboard</a>
                </div>
            }
        </div>

        <br />

        <h3 class="text-muted">Description</h3>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>


        <h3 class="text-muted">Franchise</h3>
        <p>
                <a asp-action="Details" asp-controller="Franchise" asp-route-id="@Model.Franchise.Id"> @Html.DisplayFor(model => model.Franchise.Name) </a>
        </p>


        <h3 class="text-muted">Sponsors</h3>

        <ul class="list-group">

            @if (ViewBag.Sponsors.Count == 0)
            {
                <li class="list-group-item">
                    <a class="text-info">There are no sponsors yet 😔</a>
                </li>
            }

            @foreach (var sponsor in Model.Sponsors)
            {
                <li class="list-group-item">
                    <a asp-action="Details" asp-controller="Sponsor" asp-route-id="@sponsor.Id">@sponsor.Name</a>
                </li>
            }
        </ul>

        @if (User.Identity.IsAuthenticated && ViewBag.UserId == Model.Organizer.Id)
        {
            <div class="mt-2">
                <a asp-action="Create" asp-controller="Sponsor" asp-route-id=@Model.Id class="btn btn-outline-secondary">Add Sponsor</a>
            </div>
        }

        <br />

        <h3 class="text-muted">Attendees</h3>


        <ul class="list-group">
            @if (ViewBag.Attendees.Count == 0)
            {
                <li class="list-group-item">
                    <a class="text-info">There are no attendees yet 😔</a>
                </li>
            }
            
            @foreach (var conferenceUserAttendee in Model.ConferenceUserAttendees)
            {
                <li class="list-group-item">
                    @conferenceUserAttendee.UserAttendee.Email
                </li>
            }
        </ul>

        <br />

        <h1 class="display-4">Events</h1>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="parties-tab" data-toggle="tab" href="#parties" role="tab" aria-controls="parties" aria-selected="true">Parties</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="workshop-tab" data-toggle="tab" href="#workshop" role="tab" aria-controls="workshop" aria-selected="false">Workshop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="lunches-tab" data-toggle="tab" href="#lunches" role="tab" aria-controls="lunches" aria-selected="false">Lunches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats" role="tab" aria-controls="chats" aria-selected="false">Chats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="talks-tab" data-toggle="tab" href="#talks" role="tab" aria-controls="talks" aria-selected="false">Talks</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="parties" role="tabpanel" aria-labelledby="parties-tab">

                @if (User.Identity.IsAuthenticated && ViewBag.UserId == Model.Organizer.Id)
                {
                    <a asp-controller="Party" asp-action="Create" ><i class="fas fa-plus fa-sm"></i></a>
                }

                @if (ViewBag.parties.Count == 0)
                {
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title text-center text-info">There are no parties yet 😔</p>
                        </div>
                    </div>
                }

                <div class="card-columns">

                    @foreach (var item in ViewBag.parties)
                    {

                        <div class="card">
                            <div class="card-body">
                                <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                                <h5 class="card-title">
                                    <a asp-controller="Party" asp-action="Details" asp-route-id="@item.Id">
                                        @item.Name
                                    </a>
                                </h5>
                                <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
                            </div>
                        </div>
                    }

                </div>

            </div>
            <div class="tab-pane fade" id="workshop" role="tabpanel" aria-labelledby="workshop-tab">

                @if (User.Identity.IsAuthenticated && ViewBag.UserId == Model.Organizer.Id)
                {
                    <a asp-controller="Workshop" asp-action="Create"><i class="fas fa-plus fa-sm"></i></a>
                }

                @if (ViewBag.workshops.Count == 0)
                {
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-center text-info">There are no workshops yet 😔</p>
                    </div>
                </div>
                }

                <div class="card-columns">

                    @foreach (var item in ViewBag.workshops)
                        {

                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                            <h5 class="card-title">
                                <a asp-controller="Workshop" asp-action="Details" asp-route-id="@item.Id">
                                    @item.Name
                                </a>
                            </h5>
                            <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
                        </div>
                    </div>
                        }

                </div>
            </div>

            <div class="tab-pane fade" id="lunches" role="tabpanel" aria-labelledby="lunches-tab">

                @if (User.Identity.IsAuthenticated && ViewBag.UserId == Model.Organizer.Id)
                {
                    <a asp-controller="Workshop" asp-action="Create"><i class="fas fa-plus fa-sm"></i></a>
                }
                
                @if (ViewBag.launches.Count == 0)
                {
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-center text-info">There are no lunches yet 😔</p>
                    </div>
                </div>
                }

                <div class="card-columns">

                    @foreach (var item in ViewBag.launches)
                    {

                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                            <h5 class="card-title">
                                <a asp-controller="Launch" asp-action="Details" asp-route-id="@item.Id">
                                    @item.Name
                                </a>
                            </h5>
                            <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
                        </div>
                    </div>
                    }

                </div>

            </div>

            <div class="tab-pane fade" id="chats" role="tabpanel" aria-labelledby="chats-tab">

                @if (User.Identity.IsAuthenticated && ViewBag.UserId == Model.Organizer.Id)
                {
                    <a asp-controller="Chat" asp-action="Create"><i class="fas fa-plus fa-sm"></i></a>
                }

                @if (ViewBag.chats.Count == 0)
                    {
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-center text-info">There are no chats yet 😔</p>
                    </div>
                </div>
                    }

                <div class="card-columns">

                    @foreach (var item in ViewBag.chats)
                        {

                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                            <h5 class="card-title">
                                <a asp-controller="Chat" asp-action="Details" asp-route-id="@item.Id">
                                    @item.Name
                                </a>
                            </h5>
                            <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
                        </div>
                    </div>
                        }

                </div>

            </div>

            <div class="tab-pane fade" id="talks" role="tabpanel" aria-labelledby="talks-tab">

                @if (User.Identity.IsAuthenticated && ViewBag.UserId == Model.Organizer.Id)
                {
                    <a asp-controller="Talk" asp-action="Create"><i class="fas fa-plus fa-sm"></i></a>
                }

                @if (ViewBag.talks.Count == 0)
                {
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-center text-info">There are no talks yet 😔</p>
                    </div>
                </div>
                }

                <div class="card-columns">
                    @foreach (var item in ViewBag.talks)
                        {
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-info">From @item.StartDate.ToString(date_format) to @item.EndDate.ToString(date_format)</p>
                            <h5 class="card-title">
                                <a asp-controller="Talk" asp-action="Details" asp-route-id="@item.Id">
                                    @item.Name
                                </a>
                            </h5>
                            <footer class="blockquote-footer">This event belongs to <cite title="Source Title">@item.Conference.Name</cite></footer>
                        </div>
                    </div>
                        }

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}