@model IEnumerable<proyecto_iic2113.Models.Conference>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Conferences</h1>

<div class="container">

    <form asp-action="Create">
        <input type="submit" class="btn btn-primary btn-lg" value="Create new">
    </form>

    <br />

    @foreach (var item in Model)
    {
        <div class="card border-dark mb-3">
            <div class="card-header text-white bg-dark">
                <div class="row justify-content-between">
                    <div> <a> @Html.DisplayFor(modelItem => item.DateTime) </a> </div>
                    <div><a> Conference </a></div>
                    <div> <a> @Html.DisplayFor(modelItem => item.Venue.Name) </a> </div>
                </div>
            </div>

            <div class="card-body text-info">
                <div class="row justify-content-center">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                </div>
                <blockquote class="blockquote mb-0">
                    <div class="row justify-content-center">
                        <p> @Html.DisplayFor(modelItem => item.Description) </p>
                    </div>
                </blockquote>
                <div class="container">
                    <div class="row justify-content-between">
                        <div>
                            <form asp-action="Details" asp-route-id="@item.Id">
                                <input type="submit" class="btn btn-info" value="Details">
                            </form>
                        </div>
                        @if (User.Identity.IsAuthenticated && ViewBag.UserId == item.Organizer.Id)
                        {
                            <div class="d-inline-block">
                                | <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <br />

    }

</div>
