@model proyecto_iic2113.Models.Venue

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
    </dl>
</div>

<b>Rooms:</b>
@foreach (var room in Model.Rooms) {
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-action="Details" asp-controller="Room" asp-route-id= "@room.Id">@room.Name</a>
        </li>
    </ul>
}
<div>
    @if (User.Identity.IsAuthenticated && ViewBag.UserId == Model.Owner.Id)
    {
       <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
       </div>
    }
    <a asp-action="Index">Back to List</a>
</div>
