@model Tuple<AttendanceView, AttendanceViewEvent>
@{
    ViewData["Title"] = "Index";
}


<h3 class="text-muted">Conferences Itinerary</h3>
@foreach (var conference in ViewBag.conferences)
            {
                
                <li class="list-group-item">
                    <a asp-action="Details" asp-controller="Conference" asp-route-id="@conference.ConferenceId">@conference.Name</a>
                    <a>- @conference.Venue - @conference.DateTime - @conference.EndDate</a>
                </li>

            }


<h3 class="text-muted">Events Itinerary</h3>
@foreach (var e in ViewBag.events)
            {
                
                <li class="list-group-item">
                    <a>@e.Name</a>
                </li>

            }