@model Tuple<AttendanceView, AttendanceViewEvent>
@{
    ViewData["Title"] = "Index";
}


<h3 class="text-muted">Conferences Itinerary</h3>
@if (ViewBag.Conferences.Count == 0) {
    <li class="list-group-item">
        <p class="text-center text-info">There are no conferences yet 😔</p>
    </li>
}
@foreach (var conference in ViewBag.conferences)
            {
                
                <li class="list-group-item">
                    <a asp-action="Details" asp-controller="Conference" asp-route-id="@conference.ConferenceId">@conference.Name</a>
                    <a>- @conference.Venue - @conference.DateTime - @conference.EndDate</a>
                </li>

            }


<h3 class="text-muted">Parties Itinerary</h3>
@if (ViewBag.Parties.Count == 0) {
    <li class="list-group-item">
    <p class="text-center text-info">There are no parties yet 😔</p>
    </li>
}
@foreach (var e in ViewBag.Parties)
            {
                
                <li class="list-group-item">
                    <a asp-action="Details" asp-controller="Party" asp-route-id="@e.EventId">@e.Name - </a>
                    <a>@e.StartDate</a>
                </li>

            }

<h3 class="text-muted">Lunches Itinerary</h3>
@if (ViewBag.Lunches.Count == 0) {
    <li class="list-group-item">
    <p class="text-center text-info">There are no lunches yet 😔</p>
    </li>
}
@foreach (var e in ViewBag.Lunches)
            {
                
                <li class="list-group-item">
                    <a asp-action="Details" asp-controller="Lunches" asp-route-id="@e.EventId">@e.Name - </a>
                    <a>@e.StartDate</a>
                </li>

            }

<h3 class="text-muted">Chats Itinerary</h3>
@if (ViewBag.Chats.Count == 0)
{
    <li class="list-group-item">
    <p class="text-center text-info">There are no chats yet 😔</p>
    </li>
}
@foreach (var e in ViewBag.Chats)
            {
                
                <li class="list-group-item">
                    <a asp-action="Details" asp-controller="Chats" asp-route-id="@e.EventId">@e.Name - </a>
                    <a>@e.StartDate</a>
                </li>

            }



<h3 class="text-muted">Talks Itinerary</h3>
@if (ViewBag.Lunches.Count == 0)
{
    <li class="list-group-item">
    <p class="text-center text-info">There are no talks yet 😔</p>
    </li>
}

@foreach (var e in ViewBag.Talks)
            {
                
                <li class="list-group-item">
                    <<a asp-action="Details" asp-controller="Talks" asp-route-id="@e.EventId">@e.Name - </a>
                    <a>@e.StartDate</a>
                </li>

            }